body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #89e390;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #78c58e;
}

.header {
    text-align: center;
    padding-bottom: 20px;
}

.header img {
    width: 400px;
    border-radius: 50%;
    margin-top: 20px;
    height: 400px;
}

.header h1 {
    margin: 20px 0;
    font-size: 2.5em;
    text-decoration: underline green;

}

.introduction, .biography, .professional-achievements, .media, .achievements, .memories-stories, .quotes, .guestbook, .contact-info {
    margin-bottom: 40px;
}

h2 {
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

h3 {
    color: #555;
    margin-top:
